<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.meetgo.chat.model.vo.Chatroom" alias="chatroom" />
		<typeAlias type="com.kh.meetgo.chat.model.vo.Chat" alias="chat" />
		<typeAlias type="com.kh.meetgo.chat.model.dto.ChatListDto" alias="chatListDto" />
		<typeAlias type="com.kh.meetgo.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.meetgo.gosu.model.dto.GosuOpt" alias="gosuOpt"/>
		<typeAlias type="com.kh.meetgo.member.model.vo.Gosu" alias="gosu"/>
		<typeAlias type="com.kh.meetgo.gosu.model.vo.GosuImg" alias="gosuImg"/>
		<typeAlias type="com.kh.meetgo.gosu.model.vo.Estimate" alias="estimate"/>
		<typeAlias type="com.kh.meetgo.gosu.model.vo.CategorySmall" alias="categorySmall"/>
   		<typeAlias type="com.kh.meetgo.board.model.vo.Board" alias="board"/>
   		<typeAlias type="com.kh.meetgo.board.model.vo.Reply" alias="reply" />
   		<typeAlias type="com.kh.meetgo.gosu.model.vo.Pofol" alias="pofol"/>
   		<typeAlias type="com.kh.meetgo.gosu.model.vo.PofolImg" alias="pofolImg"/>
   		<typeAlias type="com.kh.meetgo.gosu.model.dto.PofolOpt" alias="pofolOpt"/>
   		<typeAlias type="com.kh.meetgo.gosu.model.vo.Review" alias="review"/>
   		<typeAlias type="com.kh.meetgo.gosu.model.vo.ReviewImg" alias="reviewImg"/>
   		<typeAlias type="com.kh.meetgo.gosu.model.dto.EstimateDto" alias="estimateDto"/>
   		<typeAlias type="com.kh.meetgo.gosu.model.dto.ReviewDto" alias="reviewDto"/>
	</typeAliases>
	

	<mappers>		
		<mapper resource="/mappers/chat-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/gosu-mapper.xml"/>
		<mapper resource="/mappers/common-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
	</mappers>
</configuration>


