<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<resultMap id="replyResultSet" type="reply">
		<result column="REPLY_NO" property="replyNo" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="REPLY_DATE" property="replyDate" />
		<result column="REPLY_STATUS" property="replyStatus" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="USER_NO" property="userNo" />
	</resultMap>
		
	<resultMap id="categorySmall" type="categorySmall">
		<result column="CATEGORY_SMALL_NO" property="categorySmallNo" />
		<result column="CATEGORY_SMALL_NAME" property="categorySmallName" />
	</resultMap>	

	<resultMap id="boardResultSet" type="board">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="BOARD_CREATE_DATE" property="createDate" /> <!-- 별칭 -->		
		<result column="BOARD_UPDATE_DATE" property="boardUpdate" /> 		
		<result column="BOARD_COUNT" property="boardCount" />	
		<result column="BOARD_TYPE" property="boardType" />	
		<result column="USER_NO" property="userNo" />		
	</resultMap>

	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE BOARD_TYPE = 1
	</select>
	

	<select id="selectList" resultMap="boardResultSet">
		SELECT BOARD_NO
		     , BOARD_TITLE
		     , TO_CHAR(BOARD_CREATE_DATE, 'YYYY-MM-DD') AS "BOARD_CREATE_DATE"
			 , BOARD_COUNT
		  FROM BOARD
		 WHERE BOARD_TYPE = 1
		 ORDER BY BOARD_NO DESC
	</select>
	
	<insert id="insertBoard" parameterType="Board">
			    INSERT INTO BOARD (
			        BOARD_NO,
			        BOARD_TITLE,
			        BOARD_CONTENT,
			        BOARD_CREATE_DATE,
			        USER_NO,
			        BOARD_TYPE
			        )
			         VALUES(SEQ_BOARD_NO.NEXTVAL
			         ,#{boardTitle}
			         ,#{boardContent}
			         ,#{createDate}
			         , 1
			         , 1
			        )
		</insert>	
			<insert id="insertTipboard" parameterType="Board">
			    INSERT INTO BOARD (
			        BOARD_NO,
			        BOARD_TITLE,
			        BOARD_CONTENT,
			        BOARD_CREATE_DATE )
			         VALUES(SEQ_BOARD_NO.NEXTVAL
			         ,#{boardTitle}
			         ,#{boardContent}
			         ,#{createDate}
			         )
		    
		</insert>				

	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT BOARD_NO
		     , BOARD_TITLE
		     , TO_CHAR(BOARD_CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		     , BOARD_CONTENT
		  FROM BOARD
		 WHERE BOARD_NO = #{boardNo}
		   AND BOARD_TYPE = 1
	</select>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		   SET BOARD_COUNT = BOARD_COUNT + 1
		 WHERE BOARD_NO = #{boardNo}
		   AND BOARD_TYPE = 1
	</update>
	
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT REPLY_NO		   
		     , REPLY_CONTENT
		     , TO_CHAR(REPLY_DATE, 'YYYY-MM-DD') AS "REPLY_DATE"
		  FROM REPLY
		 WHERE REPLY_STATUS = 'Y'
		   AND REF_BNO = #{boardNo}
		 ORDER BY REPLY_NO DESC
	</select>
	
	<insert id="insertReply" parameterType="reply">
		INSERT INTO REPLY(REPLY_NO
		                , REPLY_CONTENT
		                , REF_BNO
		                )
		           VALUES(SEQ_BOARD_NO.NEXTVAL
		                , #{replyContent}
		                , #{refBoardNo}
		                )
	</insert>
	
	<!-- 포폴 리스트 전체카운트 -->
	<select id="countPofolList" resultType="_int">
		SELECT COUNT(*)
		  FROM POFOL
		 WHERE POFOL_STATUS = 1
	</select>
	
	<!-- 포폴 리스트 전체조회 -->
	<select id="selectPofolList" parameterType="hashMap" resultType="pofolOpt">
        SELECT P.POFOL_NO AS "pofol.pofolNo",
			   P.POFOL_TITLE AS "pofol.pofolTitle",
			   P.POFOL_VISITED AS "pofol.pofolVisited",
			   P.POFOL_STATUS AS "pofol.pofolStatus",
               P.POFOL_SERVICE AS "pofol.pofolService",
			   P.GOSU_NO AS "pofol.gosuNo",
               CS.CATEGORY_BIG_NO AS "categoryBigNo",
               CS.CATEGORY_SMALL_NAME AS "categorySmallName",
               PI.POFOL_IMG_URL AS "firstImg"
		  FROM POFOL P
          LEFT JOIN (
            SELECT GOSU_NO, CATEGORY_SMALL_NO
              FROM "GOSU-SERVICE"
          ) S ON S.CATEGORY_SMALL_NO = P.POFOL_SERVICE
          LEFT JOIN (
            SELECT CATEGORY_SMALL_NO, CATEGORY_BIG_NO, CATEGORY_SMALL_NAME
              FROM SERVICE_CATEGORY_SMALL
          ) CS ON CS.CATEGORY_SMALL_NO = S.CATEGORY_SMALL_NO
          LEFT JOIN (
	        SELECT *
	        FROM POFOL_IMG
	        WHERE (POFOL_NO, POFOL_IMG_NO) IN (
	        SELECT POFOL_NO, MIN(POFOL_IMG_NO)
	        FROM POFOL_IMG
	        GROUP BY POFOL_NO)
	        ) PI ON P.POFOL_NO = PI.POFOL_NO
        <where>
	        <choose>
	            <when test="categoryBigNo != 0">
	                AND CS.CATEGORY_BIG_NO = #{categoryBigNo}
	            </when>
	            <otherwise></otherwise>
	        </choose>
	    </where>
		    <choose>
		        <when test="standard == 'recent'">
		            ORDER BY POFOL_CREATE_DATE DESC
		        </when>
		        <otherwise>
		            ORDER BY POFOL_VISITED DESC
		        </otherwise>
		    </choose>
	</select>
	
	<!-- 로그인한 회원의 카테고리 가져오기 -->
	<select id="getLoginUserCtgName" parameterType="_int" resultMap="categorySmall">
		SELECT SC.CATEGORY_SMALL_NO,
      		   SC.CATEGORY_SMALL_NAME
		  FROM SERVICE_CATEGORY_SMALL SC
		  LEFT JOIN(
		    SELECT CATEGORY_SMALL_NO, GOSU_NO
		      FROM "GOSU-SERVICE"
		  ) GS ON GS.CATEGORY_SMALL_NO = SC.CATEGORY_SMALL_NO
		  LEFT JOIN(
		    SELECT GOSU_NO, USER_NO
		      FROM GOSU
		  ) G ON G.GOSU_NO = GS.GOSU_NO
		  LEFT JOIN(
		    SELECT USER_NO
		      FROM MEMBER
		  ) M ON M.USER_NO = G.USER_NO
		  WHERE M.USER_NO = #{userNo}
	</select>

	<insert id="insertPofol" parameterType="pofol" useGeneratedKeys="true" keyColumn="POFOL_NO" keyProperty="pofolNo">
		INSERT INTO POFOL(POFOL_NO
                 , POFOL_SERVICE
                 , POFOL_TITLE
                 , POFOL_INTRO
                 , POFOL_PRICE
                 , POFOL_CONTENT
                 , POFOL_CREATE_DATE
                 , POFOL_STATUS
                 , GOSU_NO
		) VALUES (SEQ_POFOL_NO.NEXTVAL
		         , #{pofolService}
		         , #{pofolTitle}
		         , #{pofolIntro}
		         , #{pofolPrice}
		         , #{pofolContent}
		         , SYSDATE
		         , 1
		         , #{gosuNo}
		);
	</insert>
	
	<insert id="insertPofolImg" parameterType="hashMap">
		INSERT INTO POFOL_IMG( POFOL_IMG_NO
                 , POFOL_IMG_URL
                 , POFOL_NO
			) VALUES ( SEQ_POFOL_IMG_NO.NEXTVAL
			         , #{pofolImgUrl}
			         , #{pofolNo}
			)
	</insert>

</mapper>








