<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
    <resultMap id="chatroomResultSet" type="chatroom">
        <result column="CHATROOM_NO" property="chatroomNo" />
        <result column="CREATE_AT" property="createAt" />
        <result column="USER_NO" property="userNo" />
        <result column="GOSU_NO" property="gosuNo" />
    </resultMap>
    <resultMap id="chatResultSet" type="chat">
        <result column="CHAT_NO" property="chatNo" />
        <result column="CONTENT" property="content" />
        <result column="SENDER" property="sender" />
        <result column="TYPE" property="type" />
        <result column="CREATE_AT" property="createAt" />
        <result column="CHATROOM_NO" property="chatroomNo" />
    </resultMap>
    <select id="selectChatRoomList" parameterType="chatroom" resultType="com.kh.meetgo.chat.model.dto.ChatListDto">
        SELECT cr.chatroom_no as "chatroom.chatroomNo",
        cr.create_at   as "chatroom.createAt",
        cr.user_no     as "chatroom.userNo",
        cr.gosu_no     as "chatroom.gosuNo",
        M.user_name   as "userName",
        M.USER_PROFILE as "userProfile"
        FROM CHATROOM cr
        LEFT JOIN (
        SELECT USER_NAME, USER_NO, USER_PROFILE
        FROM MEMBER
        ) M ON CR.USER_NO = M.USER_NO
        WHERE cr.user_no = #{userNo} OR GOSU_NO = #{userNo}
    </select>
    <select id="selectChatList" parameterType="_int" resultMap="chatResultSet">
        SELECT *
        FROM CHAT
        WHERE CHATROOM_NO = ${chatroomNo}
    </select>
    <select id="selectChatroom" parameterType="_int" resultMap="chatroomResultSet">
        SELECT *
        FROM CHATROOM
        WHERE CHATROOM_NO = ${chatroomNo}
    </select>
    <insert id="insertChat" parameterType="chat">
        INSERT INTO CHAT (CHAT_NO, CONTENT, SENDER, TYPE, CHATROOM_NO)
        VALUES (SEQ_CHAT_NO.nextval, #{content}, #{sender}, #{type}, #{chatroomNo})
    </insert>
    <insert id="insertEstimate" parameterType="com.kh.meetgo.gosu.model.vo.Estimate">
        INSERT INTO ESTIMATE (EST_NO, EST_TITLE, EST_CONTENT, EST_ADDRESS, EST_SERVICE, START_DATE, END_DATE, CONFIRMATION_DATE, EST_PRICE, STATUS, "tid", GOSU_NO, USER_NO)
        VALUES (SEQ_ESTIMATE_NO.nextval, "", #{estContent}, #{estAddress}, #{estService}, #{startDate}, #{endDate} , #{confirmationDate}, #{estPrice}, 1, NULL, gosuNo, userNo)
    </insert>
</mapper>




