html {
    text-align: center;
    justify-content: center;
}
.chat-content {
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    display: flex;
    border: 1px solid lightgray;
}
.left-box {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
}
.left-box-input-search {
    height: 10%;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    cursor: pointer;

}
.view-type {
    width: 80%;
    height: 100%;
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items : center;
}
.chat-search-input {
    width: 80%;
    display: inline-block;
    align-items: center;
}
.chat-search-input b{
    height: 30%;
    font-size: 15px;
}
.chat-search-input input {
    margin: auto;
    width: 100%;
    height: 70%;
    border: none;
    border-top: 1px solid lightgray;
}
#type-search {
    position: absolute;
    background-color: white;
    width: 240px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}
#type-search a{
    width: 230px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    display: block;
    line-height: 50px;
    border-radius: 10px;
}
.chat-search {
    display: flex;
    width: 20%;
    text-align: center;
    align-items : center;
    border-left: 1px solid #f4f4f4;
    cursor: pointer;
}
.chat-search img {
    margin: 10px auto;
    width: 30px;
}
#type-collapse {
    position: absolute;
    background-color: white;
    width: 240px;
    box-sizing: border-box;
    border: 1px solid #f4f4f4;
}
#type-collapse a{
    width: 230px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    display: block;
    line-height: 50px;
    border-radius: 10px;
}

.left-box-chatList {
    height: 90%;
    box-sizing: border-box;
    background-color: #e8e8e8;
}
.chat-card{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
}
.chat-card:hover{
    cursor: pointer;
    background-color: #e3e2e2;
}
.chat-card-img {
    width: 80px;
    height: 100px;
}
.chat-card-img > img{
    object-fit: cover;
}
.chat-card-info {
    padding: 10px;
}
.chat-card-info p {
    margin-bottom: 5px;
}
.chat-card-info p:last-child {
    color: gray;
}
.chat-card img {
    width: 60px;
    height: 60px;
    margin: 20px 10px;
    border-radius: 40px;
}
.right-box {
    width: 900px;
    height: 100%;
    box-sizing: border-box;
}

.chat-area {
    width: 650px;
    height: 100%;
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    background-color: #fdfdfd;
    overflow:auto;
}
.chat-area::-webkit-scrollbar {
    width: 10px;
}
.chat-area::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chat-area::-webkit-scrollbar-track {
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.right-box-info {
    width: 250px;
    height: 100%;
    padding-top: 20px;
    border-left: 1px solid lightgray;
    background-color: #f4f4f4;
}
.chat-input-box {
    display: inline-block;
    width: 900px;
    border-top: 1px solid lightgray;
    box-sizing: border-box;
    height: 15%;
}
#chat-textarea{
    width: 100%;
    height: 65px;
    border: none;
    resize: none;
    padding: 10px;
    border-bottom: 1px solid lightgray;

}
.chat-input-box button{
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 0.8em;
    color: #2A8FF7;
}
.select {
    background-color: white;
    border-right: none;
}
.input-icon {
    float: left;
    margin-left: 30px;
}
.input-icon img {
    width: 25px;
    height: 25px;
    float: left;
}

.chat-bubble {
    width: 100%;
    display: inline-block;
    align-items: flex-end;
    color: black;
    position: relative;
}

.chat-bubble p {
    display: inline-block;
    border : none;
    border-radius: .4em;
    max-width: 500px;
    padding: 5px 10px;
    margin: 20px;
}
.chat-bubble img {
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
    border-radius: .4em;
    border : none;
}
.chat-estimate {
    width: 300px;
    padding: 10px 10px;
    margin: 20px 5px 20px 20px;
    border-radius: .4em;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #f4f4f4;
    background-color: white;
}
.chat-estimate hr{
    background-color: lightgray;
    border: 0;
    height: 1px;
}
.est-content {
    margin: 0 !important;
    color: black;
}
.chat-estimate table {
    width: 100%;
    margin: auto;
}
.chat-estimate table tr > td:last-child {
    float: right;
    width: 60%;
}
.sender {
    background-color: #f5f5f5;
    float: left;
}
.receiver {
    background-color: #f5f5f5;
    float: right;
}

.input-button {
    float: right;
    margin-right: 30px;
}
.info-profile {
    text-align: center;
    align-items: center;
}
.info-profile-img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.info-profile table {
    width: 80%;
    margin: auto;
}
.info-service-list {
    margin: auto;
    text-align: center;
}
.info-profile-more {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 25px;
}
.info-profile-more:hover {
    background-color: lightgray;
    border-radius: 15px;
}
.est-button {
    width: 100%;
    padding: 0;
    margin: 0;
}
.chat-createAt {
    position: absolute;
    bottom: 0;
    padding: 0 !important;
    margin:40px 0 0 0 !important;
    font-size: 0.9em;
}
.p-receiver {
    right: 30px;
}
.p-sender {
    left: 30px;
}
.info-img-area, .info-pofol, .review-img-area {
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 0 30px;
}

.info-img {
    width: 80px;
    height: 80px;
    object-fit:cover;
    margin: auto;
}
.slick-slide{
    width: 80px;
}
.slick-arrow {
    z-index: 10;
    width: 75px;
    height: 75px;
    top: 40px;
}
.slick-prev {
}
.slick-prev:before,
.slick-next:before
{
    color: black;
}
.display-none {
    display: none;
}
.disable-btn {
    pointer-events : none;
}